<div class="min-h-screen bg-gray-100">




	<app-mentee-navbar />

	<app-mentee-sidebar />
<!-- 
	<main class="p-8 sm:ml-64 mt-14 bg-linear-to-br from-blue-50 via-orange-50 to-blue-50 min-h-screen"> -->

		<main class="p-8 sm:ml-64 mt-14 bg-[#F7F5FE] min-h-screen">

		
	<!-- <main class="p-8 sm:ml-64 mt-14 bg-linear-to-br  "> -->

		<div class="max-w-8xl mx-auto ">
			<!-- <app-breadcrumbs /> -->

			<router-outlet></router-outlet>

		</div>
	</main>

	<app-toast-container></app-toast-container>
</div>