# ============================================================================
# PRISMA 
# ============================================================================
PRISMA_DATABASE_URL="KEY"
PRISMA_DIRECT_URL="KEY"

# ============================================================================
# SUPABASE
# ============================================================================
SUPABASE_URL="KEY"
SUPABASE_ANON_KEY="KEY"
SUPABASE_SERVICE_ROLE_KEY="KEY"

# ============================================================================
# JWT TOKEN SECRET
# ============================================================================
JWT_SECRET="KEY"